<!-- snippets/component__pagination.liquid -->
{% comment %} 
  Pagination to navigate through multiple pages of content.

  Accepts:
    - paginate: paignation object
  
  Usage:
    {% render 'component__pagination', 
      paginate: paginate %}
  
  Globals:
    - settings.pagination_type: type of paignation, can be set to 'scroll' or 'load', or 'pages'
    - settings.layout_horizontal: horizontaly margin
  
  Pro tips:
    - Use this snippet inside a pagination object. For example a loop of products on a collection template.
{% endcomment %}

{% if settings.pagination_type == 'scroll' %}
  <section class="border--t-width pt-4
    {{ settings.layout_horizontal }}
    {{ section.settings.color_border }}" 
    x-init="pagination_total_pages = {{ paginate.pages }};">
    <div class="text-center">
      <span>{{ 'general.pagination.show' | t }}</span>
      <span x-text="pagination_current_page">1</span>
      {{ 'general.pagination.of' | t }}
      <span x-text="pagination_total_pages">{{ paginate.pages }}</span>
    </div>
    <div class="mt-2 text-center" 
      x-intersect.full="fetchAndRenderNextPage()"
      x-show="pagination_current_page < pagination_total_pages" 
      x-cloak>
      <button role="button" 
        class="btn btn--small btn--load btn--plain btn--loading">
        <div class="btn__content">
          {{ 'general.pagination.loading_more' | t }}
        </div>
        <div class="btn__spinner">
          {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
        </div>
      </button>
    </div>
  </section>
{% endif %}

{% if settings.pagination_type == 'load' %}
  <section class="border--t-width pt-4
    {{ settings.layout_horizontal }}
    {{ section.settings.color_border }}"
    x-data="{ button_loading: false }" 
    x-init="pagination_total_pages = {{ paginate.pages }};">
    <div class="text-center">
      <span>{{ 'general.pagination.show' | t }}</span>
      <span x-text="pagination_current_page">1</span>
      {{ 'general.pagination.of' | t }}
      <span x-text="pagination_total_pages">{{ paginate.pages }}</span>
    </div>
    <div class="mt-2 text-center" 
      x-show="pagination_current_page < pagination_total_pages" 
      x-cloak>
      <button role="button" 
        class="btn btn--small btn--load btn--plain"  
        :class="{ 'btn--loading' : button_loading }"
        :disabled="button_loading"
        @click="
          fetchAndRenderNextPage() 
          button_loading = true;
          setTimeout(function(){ button_loading = false}, 1000);">
        <div class="btn__content">
          {{ 'general.pagination.load_more' | t }}
        </div>
        <div class="btn__spinner">
          {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
        </div>
      </button>
    </div>
  </section>
{% endif %}

{% if settings.pagination_type == 'pages' %}
  <section class="border--t-width pt-4
    {{ settings.layout_horizontal }}
    {{ section.settings.color_border }}" x-init="pagination_total_pages = {{ paginate.pages }};">
    <div class="text-center">
      <span>{{ 'general.pagination.show' | t }}</span>
      <span>{{ paginate.current_page }}</span>
      {{ 'general.pagination.of' | t }}
      <span x-text="pagination_total_pages">{{ paginate.pages }}</span>
    </div>
    <div class="mt-2 text-center">
      {% if paginate.previous.is_link %}
        <a href="{{ paginate.previous.url }}"
          class="btn btn--small btn--plain" >{{ paginate.previous.title }}</a>
      {% endif %}
      {% if paginate.next.is_link %}
        <a href="{{ paginate.next.url }}"
          class="btn btn--small btn--plain">{{ paginate.next.title }}</a>
      {% endif %}
    </div>
  </section>
{% endif %}

<script>
  window.__initialData = window.__initialData || {};
  Object.assign(window.__initialData, {
    pagination_total_pages: {{ paginate.pages | default: 1 }},
    pagination_current_page: {{ paginate.current_page | default: 1 }},
    pagination_section: "{{ section.id }}"
  });
</script>