<!-- snippets/product__rating.liquid -->
{% comment %} 
  Block to display product rating from metafields. 

  Accepts:
    - blocksettings: liquid object of block settings
    - featured: boolean to assign product object from section settings, set this to true if block is used within a section rather than product template
      
  Usage:
    {% render 'product__rating', 
      blocksettings: block.settings, 
      featured: true %}

  Possible enhancements:
    - Add ability to click to scroll to review section. 
    - Add rating value (e.g. * 4.9/5 - over 100 reviews)

  Pro tips:
    - Many apps may have their own app blocks that can be used instead of this.
    - This can be used when review apps update the standard review metafields (e.g. product.metafields.reviews.rating.value)
{% endcomment %}

{% if featured %}
  {%- assign product = section.settings.product -%}
{% endif %}

{% unless product.metafields.reviews.rating.value == blank %}
  <div class="px-4 color__border-divider-1
      {{ blocksettings.color_scheme }} 
      {{ blocksettings.style_border }}"
    style="
      padding-top:{{ blocksettings.spacing_top }}px;
      padding-bottom:{{ blocksettings.spacing_bottom }}px;" >

    {% assign rating = product.metafields.reviews.rating.value.rating | times: 1 %}
    {% assign max = product.metafields.reviews.rating.value.scale_max %}

    <div class="flex items-center text-right">
      {%- if product.metafields.reviews.rating.value != blank -%}
        <span>{{ product.metafields.reviews.rating.value.rating | round: 2 }}</span> 
        {% for iteration in (1..max) %}
          {% if iteration <= rating %}
            {% render 'component__icon', icon: 'star', size: '16', class: 'ml-1' %} 
          {% else %}
            <span class="fa fa-star"></span>
          {% endif %}
        {% endfor %}
        <span class="type--small ml-1 opacity-75">({{ product.metafields.reviews.rating_count }})</span>
      {%- endif -%}
    </div>
   
  </div>
{% endunless %}