{% comment %} 
  Product specific JavaScript. Pulls in variables and settings from liquied

  Accepts:
    - featured: boolean to assign product object from section settings, set this to true if block is used within a section rather than product template
    - gallery_style: set the gallery style for the product section.

  Usage:
    <div class="product__form">
      x-data="{% render 'script__product', 
        gallery_style : section.settings.media_gallery_style,
        featured: true %}"
      x-init="initForm();"
      x-ref="formContainer">
      ...
    </div>
{% endcomment %}

{% if featured %}
  {%- assign product = section.settings.product -%}
{% endif %}

{
  // variant data
  variants: {
    {%- for variant in product.variants -%}
      '{{ variant.title | replace: '/', '-' | replace: ' ', '' | replace: '--', '-' | replace: "'", '' | replace: '"', '' | replace: '`', '' | downcase }}': [
        {
          available: {{ variant.available }},
          price: {{ variant.price }},
          comparePrice: {% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}0{% endif %},
          unitPrice: {{ variant.unit_price | default: 0 }},
          unitLabel: '{{ variant.unit_price_measurement.reference_value }}{{ variant.unit_price_measurement.reference_unit }}',
          id: {{ variant.id }},
          inventory_policy: '{{ variant. inventory_policy }}',
          inventory_quantity: {{ variant.inventory_quantity }},
          featuredMedia: '{{ variant.featured_media | handle }}',
          hasSellingPlan: {% if variant.selling_plan_allocations.size > 0 %}true{% else %}false{% endif %},
          {%- assign selling_group_ids = variant.selling_plan_allocations | map: 'selling_plan_group_id' -%}
          sellingGroupIds: {% if selling_group_ids %} `{{ selling_group_ids | join: ',' }}` {% else %} [] {% endif %},
          requiresSellingPlan: {% if variant.requires_selling_plan %}{{ variant.requires_selling_plan }}{% else %}false{% endif %}, 
          title: `{{ variant.title | replace: "`", "" | escape }}`,
          sku:'{{ variant.sku | replace: "'", "\'" | replace: '"', '\"' | escape }}',
          storesAvailable: {{ variant.store_availabilities.size }},
          {% if variant.option1 %} option1: `{{ variant.option1 | replace: '/', '-' | replace: ' ', '' | replace: '--', '-' | replace: "'", '' | replace: '"', '' | replace: '`', '' | downcase }}`,{% endif %}
          {% if variant.option2 %} option2: `{{ variant.option2 | replace: '/', '-' | replace: ' ', '' | replace: '--', '-' | replace: "'", '' | replace: '"', '' | replace: '`', '' | downcase }}`,{% endif %}
          {% if variant.option3 %} option3: `{{ variant.option3 | replace: '/', '-' | replace: ' ', '' | replace: '--', '-' | replace: "'", '' | replace: '"', '' | replace: '`', '' | downcase }}`,{% endif %}
        }
      ],
    {%- endfor -%}
  },
  
  // product options
  {% for product_option in product.options_with_values %}
    {{ product_option.name | handle | remove: '-' }}: '',
  {% endfor %}
  
  // product data
  defaultAvailable: {{ product.available }},
  defaultVariantPrice: {% if section.settings.enable_default_variant %}{{ product.price }}{% else %}0{% endif %},
  defaultVariantPriceMin: {% if section.settings.enable_default_variant %}{{ product.price }}{% else %}0{% endif %},
  defaultVariantComparePrice: {% if product.compare_at_price and section.settings.enable_default_variant %}{{ product.compare_at_price_max }}{% else %}0{% endif %},
  defaultVariantUnitPrice: 0,
  defaultVariantUnitLabel: '',
  defaultVariantId: {{ product.selected_or_first_available_variant.id }},
  defaultVariantInventoryPolicy: '{{ product.selected_or_first_available_variant.inventory_policy }}',
  defaultVariantInventoryQuantity: {{ product.selected_or_first_available_variant.inventory_quantity }},
  defaultVariantfeaturedMedia: '{{ product.selected_or_first_available_variant.featured_media }}',
  defaultSellingPlanId: 0,
  defaultSellingPlanName: '',
  defaultSellingPlanDescription: '',
  defaultSellingPlanPrice: {% if product.selected_or_first_available_selling_plan_allocation.price > 0 %} {{ product.selected_or_first_available_selling_plan_allocation.price }} {% else %} 0 {% endif %},
  defaultHasSellingPlan: {% if product.selected_or_first_available_selling_plan_allocation.size > 0 %}true{% else %}false{% endif %},
  defaultRequiresSellingPlan: {% if variant.requires_selling_plan %}{{ variant.requires_selling_plan }}{% else %}false{% endif %} ,
  defaultRecurringDeliveries: false,
  defaultSavingsSummary: '',
  defaultSavingsHighlight: '',
  defaultVariantExists: true,
  defaultVariantSKU: '{{ product.selected_or_first_available_variant.sku | handle }}',
  allOptionsSelected:false,
  quantity: 1,
  currentAvailableVariants: [],
  optionsCount: {{ product.options_with_values | size }},
  variantCount: {{ product.variants.size }},
  variantHandle: '{{ product.selected_or_first_available_variant.title | replace: '/', '-' | replace: ' ', '' | replace: '--', '-' | replace: "'", '' | replace: '"', '' | replace: '`', '' | downcase }}',
  variantTitle:`{{ product.selected_or_first_available_variant.title | replace: '`', '\`' | escape }}`,
  sellingGroupId: '{{ product.selling_plan_groups[0].id }}',
  optionValues: [],
  calculatedPrice: {{ product.price }},
  storesAvailable: {{ product.selected_or_first_available_variant.store_availabilities.size }},
  featuredImages : [],
  sellingGroupIds: [],

  // bundle data
  isBundle: {% if product.metafields.custom.product_bundle.value == empty %} false {% else %} true {% endif %},
  {%- assign bundlePrices = product.metafields.custom.product_bundle.value | map: 'price' -%}
  {% comment %} theme-check-disable UnknownFilter {% endcomment %}
  bundlePrice: {{ bundlePrices | sum }},
  {% comment %}theme-check-enable UnknownFilter {% endcomment %}

  // more values
  buttonDisabled:  {% if product.has_only_default_variant %}false{% else %}true{% endif %},
  choosing: false,
  attributeName: 'x-on:submit.prevent',
  attributeValue: {% if product.metafields.custom.product_bundle.value == null %} 'addCartItem($refs.productForm)' {% else %} 'addCartItem($refs.productForm, true)' {% endif %} ,
  
  // slider data
  gallery_index: 0,
  gallery_index_scroll: 0,
  gallery_index_size: {{ product.media.size | minus: 1 }},
  hidden_images_before: 0,
  hidden_images_after: 0,
  show_arrows: false,
  isOverflown(element) {
    return element.scrollWidth > element.clientWidth;
  },

  scrollNext() {
    this.gallery_index_scroll = this.gallery_index + 1;
    if(this.gallery_index_scroll > this.gallery_index_size){
      this.gallery_index_scroll = 0;
    }
    this.scrollToIndex(this.gallery_index_scroll);
  },

  scrollBack() {
    this.gallery_index_scroll = this.gallery_index - 1;
    {% if section.settings.enable_multiple_variant_images %}
      let firstImageIndex = this.hidden_images_before;
      if(this.gallery_index_scroll < firstImageIndex){
        this.gallery_index_scroll = this.gallery_index_size - this.hidden_images_after;
      }
    {% else %}
    if(this.gallery_index_scroll < 0){
      this.gallery_index_scroll = this.gallery_index_size;
    }
    {% endif %}
    this.scrollToIndex(this.gallery_index_scroll);
  },

  scrollToIndex(gallery_index_scroll) {
    this.gallery_index = gallery_index_scroll;
    let slider = this.$refs.slider;
    let currentSlide = slider.querySelector('[data-slide=&quot;' + gallery_index_scroll + '&quot;]');

    
   if (currentSlide) {
    let currentSlidePosition = currentSlide.offsetLeft;
      slider.scrollTo({
        top: 0,
        left: currentSlidePosition,
        behavior: 'smooth'
      });
    }
    let thumbnailSlider = this.$refs.thumbnail_slider;
    if (thumbnailSlider){
      let currentThumb = thumbnailSlider.querySelector('[data-slide=&quot;' + gallery_index_scroll + '&quot;]');
      if (currentThumb) {
        let currentThumbPosition = currentThumb.offsetTop;
        thumbnailSlider.scrollTo({
          top: currentThumbPosition-200,
          left: 0,
          behavior: 'smooth'
        });
      }
    }
  },

  handleForm(quickAdd = false, defaultVariantId) {


    let formContainer = this.$refs.formContainer;

    // check if defaultVariantId exists and set defaults
    // loop through variants and find first available variant
    if (defaultVariantId) {
      for (var variant in this.variants) {
        let variantItem = this.variants[variant][0];
        if (defaultVariantId == variantItem.id) {
          this.variantHandle = variant;
          {% for product_option in product.options_with_values %}
            {% case forloop.index %}
              {% when 1 %}
                this.{{ product_option.name | handle | remove: '-' }} = variantItem.option1;
              {% when 2 %}
                this.{{ product_option.name | handle | remove: '-' }} = variantItem.option2;
              {% when 3 %}
                this.{{ product_option.name | handle | remove: '-' }} = variantItem.option3;
            {% endcase %}
          {% endfor %}
        }
      }
    }

    // update featured images
    this.featuredImages = [];
    {% for variant in product.variants %}
      this.featuredImages.push('{{ variant.featured_media | handle }}');
    {% endfor %}

    // update variant handle
    this.optionValues = [];
    {% for product_option in product.options_with_values %}
      this.optionValues.push(this.{{ product_option.name | handle | remove: '-' }});
    {% endfor %}
    let optionsArrray = this.optionValues;
    let everythingSelected = this.optionValues.every((value) => {
      return value != ''
    })
    if(everythingSelected) {
      allOptionsSelected = true
    }
    this.optionValues = this.optionValues.join('-');
    if( this.optionValues ){
      this.variantHandle = this.optionValues;
    }

    
    {% comment %} If changing variants leads to unavailable variant find and select the first available variant {% endcomment %}
    {% comment %} Should only affect products with 2 or 3 options {% endcomment %}
    if(!this.variants[this.variantHandle]) {
      optionsArrray.pop();
      const options = optionsArrray.join('-')

      const handles = Object.keys(this.variants)
       const newHandle = handles.find((handle) => handle.includes(options))
       this.variantHandle = newHandle
       {% for product_option in product.options_with_values %}
        {% case forloop.index %}
          {% when 1 %}
            this.{{ product_option.name | handle | remove: '-' }} = this.variants[newHandle][0].option1;
          {% when 2 %}
            this.{{ product_option.name | handle | remove: '-' }} = this.variants[newHandle][0].option2;
          {% when 3 %}
            this.{{ product_option.name | handle | remove: '-' }} = this.variants[newHandle][0].option3;
        {% endcase %}
      {% endfor %}
    }

    {% comment %} {{ 'products.general.sold_out' | t }}/unavailable indicators {% endcomment %}
    let availableVariants = [];    
    
    if(this.variants[this.variantHandle]) {
      let currentObj;
      let optionNumber;
      const optionsLength = {{ product.options.size }}
      if(optionsLength === 1) {
        optionNumber = 1;
        currentObj = Object.entries(this.variants);
        this.currentAvailableVariants = Object.keys(this.variants)
      } else if (optionsLength === 2) {
        optionNumber = 2
        currentObj = Object.entries(this.variants).filter(([key]) => {
          return this.variants[this.variantHandle][0].option1.split('-')[0] == key.split('-')[0]
        })
        this.currentAvailableVariants = Object.keys(this.variants).filter((key) => {
          return this.variants[this.variantHandle][0].option1.split('-')[0] == key.split('-')[0]
        })
      } else {
        optionNumber = 3
        currentObj = Object.entries(this.variants).filter(([key]) => {
          return key.split('-')[0] + '-' + key.split('-')[1] == this.variants[this.variantHandle][0].option1 + '-' + this.variants[this.variantHandle][0].option2
          })
        this.currentAvailableVariants = Object.keys(this.variants).filter((key) => {
          return key.split('-')[0] + '-' + key.split('-')[1] == this.variants[this.variantHandle][0].option1 + '-' + this.variants[this.variantHandle][0].option2
          })
      }
  
      if(this.allOptionsSelected) {
         {% comment %} selectors {% endcomment %}
      const options1 = document.querySelectorAll('button[id=&quot;' + 'option-1' + '&quot;]')
      const options2 = document.querySelectorAll('button[id=&quot;' + 'option-2' + '&quot;]')
      const options3 = document.querySelectorAll('button[id=&quot;' + 'option-3' + '&quot;]')
  
      const selectSelector1 = document.querySelector('select[name=&quot;' + 'select-option-1' + '&quot;]')
      const selectSelector2 = document.querySelector('select[name=&quot;' + 'select-option-2' + '&quot;]')
      const selectSelector3 = document.querySelector('select[name=&quot;' + 'select-option-3' + '&quot;]')
        
       {% comment %} Reset previous strikethroughs {% endcomment %}
       if(options1 && options1.length > 0) {
        for (let option of options1) {
          if(option.classList.contains('strikethrough')) {
            option.classList.remove('strikethrough')
          }
        }
      } else if(selectSelector1 && selectSelector1.length > 0) {
        for (let option of selectSelector1) {
         if(option.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
           option.text = option.text.replace(' - {{ 'products.general.sold_out' | t }}','')
         }
       } 
      }
      if(options2 && options2.length > 0) {
        for (let option of options2) {
          if(option.classList.contains('strikethrough')) {
            option.classList.remove('strikethrough')
          }
        }
       } else if(selectSelector2 && selectSelector2.length > 0) {
         for (let option of selectSelector2) {
           if(option.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
             option.text = option.text.replace(' - {{ 'products.general.sold_out' | t }}','')
           }
         } 
       }
      if(options3 && options3.length > 0) {
        for (let option of options3) {
          if(option.classList.contains('strikethrough')) {
            option.classList.remove('strikethrough')
          }
        }
       } else if(selectSelector3 && selectSelector3.length > 0) {
         for (let option of selectSelector3) {
           if(option.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
             option.text = option.text.replace(' - {{ 'products.general.sold_out' | t }}','')
           }
         } 
       }

       {% comment %} add strikethrough {% endcomment %}

       currentObj.forEach((variant) => {
        let option1 = variant[1][0].option1
        let option2 = variant[1][0].option2
        let option3 = variant[1][0].option3

        let dropdownOption1;
        let dropdownOption2;
        let dropdownOption3;

        if(selectSelector1) {
          dropdownOption1 = selectSelector1.querySelector('option[value=&quot;' + option1 + '&quot;]');
        }
        if(selectSelector2) {
          dropdownOption2 = selectSelector2.querySelector('option[value=&quot;' + option2 + '&quot;]');
        }
        if(selectSelector3) {
          dropdownOption3 = selectSelector3.querySelector('option[value=&quot;' + option3 + '&quot;]');
        }
        const selector1 = document.querySelector('button[name=&quot;' + option1 + '&quot;]')
        const selector2 = document.querySelector('button[name=&quot;' + option2 + '&quot;]')
        const selector3 = document.querySelector('button[name=&quot;' + option3 + '&quot;]')

         if(optionNumber === 1) {
          if(!variant[1][0].available) {
            if(selector1) {
              selector1.classList.add('strikethrough') 
            } else {
              dropdownOption1.text = dropdownOption1.text + ' - {{ 'products.general.sold_out' | t }}'
            }
          } 
        } else if (optionNumber === 2) {
          if(!variant[1][0].available) {
            if(selector1) {
              selector1.classList.add('strikethrough')
            } else {
              if(!dropdownOption1.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
                dropdownOption1.text = dropdownOption1.text + ' - {{ 'products.general.sold_out' | t }}'
              }
            }
             
            if(selector2) {
              selector2.classList.add('strikethrough') 
            } else {
              if(!dropdownOption2.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
               dropdownOption2.text = dropdownOption2.text + ' - {{ 'products.general.sold_out' | t }}'
              }
            }
          } 
          if(this.variants[this.variantHandle][0].available) {
            if(selector1) {
              selector1.classList.remove('strikethrough') 
            } else {
              dropdownOption1.text = dropdownOption1.text.replace(' - {{ 'products.general.sold_out' | t }}','')
            }
          }
        } else {
          if(!variant[1][0].available) {
            if(selector1) {
              selector1.classList.add('strikethrough')
            } else {
              if(!dropdownOption1.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
               dropdownOption1.text = dropdownOption1.text + ' - {{ 'products.general.sold_out' | t }}'
              }
            }
             
            if(selector2) {
              selector2.classList.add('strikethrough') 
            } else {
              if(!dropdownOption2.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
               dropdownOption2.text = dropdownOption2.text + ' - {{ 'products.general.sold_out' | t }}'
              }
            }

            if(selector3) {
              selector3.classList.add('strikethrough') 
            } else {
              if(!dropdownOption3.text.includes(' - {{ 'products.general.sold_out' | t }}')) {
               dropdownOption3.text = dropdownOption3.text + ' - {{ 'products.general.sold_out' | t }}'
              }
            }
          } 
          if(this.variants[this.variantHandle][0].available) {
            if(selector1) {
              selector1.classList.remove('strikethrough') 
            } else {
              dropdownOption1.text = dropdownOption1.text.replace(' - {{ 'products.general.sold_out' | t }}','')
            }
            if(selector2) {
              selector2.classList.remove('strikethrough') 
            } else {
              dropdownOption2.text = dropdownOption2.text.replace(' - {{ 'products.general.sold_out' | t }}','')
            }
          }
        }         
      }) 


      } 
    } 

    // update defaults from variant data
    if (this.variants[this.variantHandle]){
      this.defaultVariantExists = true;
      this.buttonDisabled = false;
      this.defaultAvailable = this.variants[this.variantHandle][0].available;
      this.defaultVariantInventoryPolicy = this.variants[this.variantHandle][0].inventory_policy;
      this.defaultVariantInventoryQuantity = this.variants[this.variantHandle][0].inventory_quantity;
      this.defaultVariantPrice = this.variants[this.variantHandle][0].price;
      this.defaultVariantPriceMin = this.variants[this.variantHandle][0].price;
      this.defaultVariantComparePrice = this.variants[this.variantHandle][0].comparePrice;
      this.defaultVariantUnitPrice = this.variants[this.variantHandle][0].unitPrice;
      this.defaultVariantUnitLabel = this.variants[this.variantHandle][0].unitLabel;
      this.defaultVariantId = this.variants[this.variantHandle][0].id;
      this.defaultVariantSKU = this.variants[this.variantHandle][0].sku;
      this.defaultVariantfeaturedMedia = this.variants[this.variantHandle][0].featuredMedia;
      this.defaultHasSellingPlan = this.variants[this.variantHandle][0].hasSellingPlan;
      this.defaultRequiresSellingPlan = this.variants[this.variantHandle][0].requiresSellingPlan;
      this.variantTitle = this.variants[this.variantHandle][0].title;
      this.storesAvailable = this.variants[this.variantHandle][0].storesAvailable;
      this.sellingGroupIds = this.variants[this.variantHandle][0].sellingGroupIds;
      this.allOptionsSelected = true;
      
    } else {
      this.defaultVariantExists = false;
    }
    // check if subscription is selected
    if (this.defaultHasSellingPlan && this.sellingGroupId) {
      let sellingPlanInput = formContainer.querySelector('input[name=&quot;' + this.sellingGroupId + '_' + this.defaultVariantId + '_selling_plan' + '&quot;]:checked');

      if(!sellingPlanInput) {
        sellingPlanInput = formContainer.querySelector('input[name=&quot;' + this.sellingGroupId + '_' + this.defaultVariantId + '_selling_plan' + '&quot;]');
      }
      

      if (sellingPlanInput == null) {
        this.buttonDisabled = true;
      } else {
        let sellingPlanData = JSON.parse(sellingPlanInput.getAttribute('data-selling-plan'));
        // update selling plan id
        this.defaultSellingPlanId = sellingPlanInput.value;
        // update defaults from selling plan data
        this.defaultSellingPlanPrice = sellingPlanData.price;
        this.defaultVariantPrice = sellingPlanData.price;
        this.defaultVariantComparePrice = sellingPlanData.compare_at_price;
        this.defaultVariantUnitPrice = sellingPlanData.unit_price;
        this.defaultRecurringDeliveries = sellingPlanData.recurring_deliveries;
        this.defaultSellingPlanName = sellingPlanData.name + '.';
        this.defaultSellingPlanDescription = sellingPlanData.description;
  
        // loop through pricing adjustments and display summary
        this.defaultSavingsSummary = '';
        let savingSummary = '';
        let savingHighlight = '';  
        sellingPlanData.price_adjustments.forEach(function (price_adjustment, index, array) {
          let savingValue = price_adjustment.value;
          if (savingValue > 0) {
            let savingsPercentLabel;
            let savingsCount;
            let punctionation;
            let sentanceStart;
            if (price_adjustment.value_type == 'percentage') {
              savingsPercentLabel = '%';
            }
            if (price_adjustment.value_type == 'price') {
              savingsPercentLabel = '';
              savingValue = Shopify.formatMoney(sellingPlanData.compare_at_price - savingValue, currency_symbol, {{ settings.enable_currency }}, '{{ settings.price_format }}', '{{ settings.currency_subunit_value }}');
            }
            if (price_adjustment.value_type == 'fixed_amount') {
              savingsPercentLabel = '';
              savingValue = Shopify.formatMoney(savingValue, currency_symbol, {{ settings.enable_currency }}, '{{ settings.price_format }}', '{{ settings.currency_subunit_value }}');
            }
            if (price_adjustment.order_count == null) {
              savingsCount = 'ongoing';
            }
            else {
              savingsCount = price_adjustment.order_count;
            }
            if (index === 0) {
              punctionation = '. ';
              sentanceStart = '{{ 'products.general.save' | t }} '
              savingHighlight = '{% if settings.type_seperator == 'dot' %}·{% else %}|{% endif %} {{ 'products.general.save' | t }} ' + savingValue + savingsPercentLabel;
            } else {
              sentanceStart = '{{ 'products.general.save' | t }} '
            }
            if (index === (array.length -1)) { 
              punctionation = '. ';
            }
            if (price_adjustment.value_type == 'price') {
              sentanceStart = ''
              savingHighlight = ' {% if settings.type_seperator == 'dot' %}·{% else %}|{% endif %} {{ 'products.general.save' | t }} ' + savingValue + savingsPercentLabel;
            }
            savingSummary += sentanceStart + savingValue + savingsPercentLabel + ' for ' + savingsCount + ' order(s)' + punctionation;
          }
        });
        this.defaultSavingsSummary = savingSummary;
        this.defaultSavingsHighlight = savingHighlight
      }

    } 
    else {
      this.defaultSellingPlanName = '';
      this.defaultSellingPlanId = 0;
      let sellingPlanInput = formContainer.querySelector('select[name=&quot;selling_plan&quot;]');
      if(sellingPlanInput) {
        sellingPlanInput.value = 0; 
      }
    }
    // updated calculated price
    this.calculatedPrice = this.quantity * this.defaultVariantPrice;
    
    {% if section.settings.enable_multiple_variant_images %}
      let imagesShown = this.gallery_index_size + 1;
      let firstImageShown = false;
      let secondImageEncountered = false;
      let firstImage;
      const allGalleryImages = document.querySelectorAll('.js\\:galleryImage');
      const sliderImages = document.querySelectorAll('.js\\:galleryImage_slider');
      const thumbImages = document.querySelectorAll('.js\\:galleryImage_thumb_slider');
      const thumbImagesMobile = document.querySelectorAll('.js\\:galleryImage_thumb_slider_mobile');
      const otherFeaturedImages = this.featuredImages.filter((image) => image != this.defaultVariantfeaturedMedia)
      
      const hideImages = (images) => {
        this.hidden_images_before = 0;
        this.hidden_images_after = 0;
        imagesShown = this.gallery_index_size + 1;
        firstImageShown = false;
        secondImageEncountered = false;
        {% comment %} Reset hidden images before new loop {% endcomment %}
      for(const image of images) {
        if(image.classList.contains('hidden')) {
          image.classList.remove('hidden')
        }
      }

      for (const image of images) {
        if(firstImageShown && secondImageEncountered) {
          image.classList.add('hidden')
          imagesShown = imagesShown - 1
          this.hidden_images_after = this.hidden_images_after + 1
        } else if(firstImageShown) {
          const includesFeaturedImage = (imageToCheck) => image.classList.contains(imageToCheck)
          {% comment %} If image contains other featured variant images flag it so we can hide the rest on the first if check {% endcomment %}
            if(otherFeaturedImages.some(includesFeaturedImage)) {
              image.classList.add('hidden')
              imagesShown = imagesShown - 1
              secondImageEncountered = true
              this.hidden_images_after = this.hidden_images_after + 1
          } 
        } else {
          {% comment %} Everything before the first relevant image gets hidden {% endcomment %}
          if(image.classList.contains(this.defaultVariantfeaturedMedia)) {
            firstImageShown = true;
            firstImage = image;
          } else {
            image.classList.add('hidden')
            imagesShown = imagesShown - 1
            this.hidden_images_before = this.hidden_images_before + 1
          }
        }
      }
      }
      hideImages(allGalleryImages)
      if(sliderImages && sliderImages.length > 0) {
        hideImages(sliderImages)
      }
      if(thumbImages && thumbImages.length > 0) {
        hideImages(thumbImages)
      } 
      if(thumbImagesMobile && thumbImagesMobile.length > 0) {
        hideImages(thumbImagesMobile)
      } 
      {% comment %} Update hide/show arrows {% endcomment %}
      if(imagesShown > 1) {
        this.show_arrows = true;
      } else {
        this.show_arrows = false;
      }

      this.scrollToIndex(firstImage.dataset.slide)
    {% endif %}

    {% unless section.settings.enable_multiple_variant_images %}
      // sort featured variant image to front
      {% if gallery_style == 'grid' %}
        if (!this.buttonDisabled) {
          if (this.defaultVariantfeaturedMedia  && !quickAdd) {
            let featuredImages = formContainer.querySelectorAll('.' + this.defaultVariantfeaturedMedia);
            for (const image of featuredImages) {
              let imageParent = image.parentNode;
              imageParent.prepend(image);
            }   
          }
        }
      {% else %}
        if (!this.buttonDisabled) {
          if (this.defaultVariantfeaturedMedia && !quickAdd){
            let featuredImages = formContainer.querySelectorAll('.' + this.defaultVariantfeaturedMedia);
  
            this.scrollToIndex(featuredImages[0].dataset.slide)
            {% comment %} for (const image of featuredImages) {
              let imageParent = image.parentNode;
              imageParent.prepend(image);
            } {% endcomment %}
          }
        }
      {% endif %}
    {% endunless %}
   
   
    if(!quickAdd) {
      {% unless featured %}
        // update url with variant parameter
        let searchParams = new URLSearchParams(window.location.search);
        searchParams.set('variant', this.defaultVariantId);
        let newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
        history.replaceState(null, '', newRelativePathQuery);
      {% endunless %}
    }
    

    // update local pickup block
    let pickupContainer = formContainer.querySelector('.js\\:pickup');
    if (pickupContainer) {
      fetch(window.location + '&section_id=product__pickup')
      .then( async (response) => {
        let data = await response.text();
        if (response.status === 200) {
          let html = document.createElement('div'); html.innerHTML = data;
          let htmlCleaned = html.querySelector('.js\\:pickup');
          if(htmlCleaned){
            pickupContainer.innerHTML = htmlCleaned.innerHTML;
          } 
        } 
        else {
          console.error('Error:', error);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
    
    // trigger change of form name=id element
    let select = document.getElementById('Variants-{{ section.id }}');
    let changeEvent = new Event('change', { bubbles: true });
    if (select){
      setTimeout(function() {
        select.dispatchEvent(changeEvent);
      }, 100);
    }

  },

  initForm() {

    // add listener to form
    let formContainer = this.$refs.formContainer;
    let forms = formContainer.querySelectorAll('form');
    for (const form of forms) {
     if(form.className.includes('shopify-product-form'))
      form.setAttribute(this.attributeName, this.attributeValue);
      form.setAttribute('x-on:keydown.enter.prevent', ''); 
    } 
    

    // update default options if ?variant is present
    if (window.location.href.indexOf('?%3Fvariant%3D') > -1) {
      {% for product_option in product.options_with_values %}
        this.{{ product_option.name | handle | remove: '-' }} = '{{ product_option.selected_value | handle }}';
      {% endfor %}
      this.handleForm();
    } 
    
    else {
      // enable form for single variant products
      if (this.variantCount == 1 && this.optionsCount <= 1) {
        this.handleForm();
      } 

      // enable form for multi variants
      else {
        // set first variant as default
        {% if section.settings.enable_default_variant %}
          this.defaultVariantId = {{ product.selected_or_first_available_variant.id }};
          this.defaultAvailable = true;
          this.handleForm(false, {{ product.selected_or_first_available_variant.id }});
        {% endif %}
      }
    }

  }
  
}