<!DOCTYPE html>
<html 
  class="min-h-[100vh]"
  lang="{{ request.locale.iso_code }}"
  x-data="app()" 
  x-init="
    handleSharedCart(); 
    updateCart(false);">

  <head>
    {% render 'theme__meta' %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.type_font_heading.system? and settings.type_font_body.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_font_body.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_font_body | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_font_heading.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_font_heading | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {% render 'theme__structured-data' %}
    {% render 'theme__styles' %}
    {% render 'assets' with 'styles.css', preload_stylesheet: true %}
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <!-- Samita Label  -->
  <script>
  
  window.Samita = window.Samita || {}
  Samita.ProductLabels = Samita.ProductLabels || {}
  Samita.ProductLabels.overrideOptions = Samita.ProductLabels.overrideOptions || {}
  Samita.ProductLabels.overrideOptions.selectors = Samita.ProductLabels.overrideOptions.selectors || {}
  Samita.ProductLabels.overrideOptions.selectors.product ={
    elementSelectors: [".z-10.relative.color__bg-body"],
  imageSelectors: ["img.color__bg-overlay-1"]
  }
  
  </script>
  <!-- end -->

    {{ content_for_header }}
  
{% include 'pagefly-app-header' %}

<!-- Hotjar Tracking Code for Brand Corner -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3718071,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<style>
.flair-badge-layout{text-align:center;}
  #gf-products .group {padding-bottom:15px;}
#gf-products .btn.btn--plain{display:none!important}

</style>
</head>
  <body
    x-init="initScroll()" 
     class="min-h-[100vh] break-words 
    {{ template | handle }}">

    <a href="#root"
      class="top-4 left-4 color__bg-body focus:translate-y-0 border__button--radius fixed z-50 px-4 py-2 no-underline transform -translate-y-20 shadow-md">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    <header class="z-30
      {{ settings.header_position }}
      {% if settings.header_position == 'dynamic' %}sticky top-0 left-0 right-0 animation-300{% endif %} 
      {% if settings.header_position == 'sticky' %}sticky top-0{% endif %}"
      :class="{ 
        '!z-10' : hide_header
      }"
      x-ref="header"
      {% if settings.header_position == 'dynamic' %}
        x-bind:style="is_scrolled ? 
          'transform: translateY(-2rem); opacity: 0; pointer-events: none;' : 
          'transform: none; opacity: 1;'
        "
      {% endif %}>
      {% sections 'header-group' %}
    </header>
    {% section 'theme__cart' %}
    {% section 'theme__menu' %}

    <main id="root" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
    {% sections 'overlay-group' %}

    {% render 'theme__localization-popup' %}
    {% render 'theme__audio-popup' %}
    {% render 'theme__error-popup' %}
    {% render 'assets' with 'main.js' %}
    {% render 'theme__scripts' %}
    <style>

#gf-grid + .border--t-width{
  display:none;clear:both;
}
#gf-products .product-list-item.has-quick-shop {position: relative;}
#gf-tree .sort-by {display:block;}
      .sort-by {
    display: none;
}
      .gf-filter-contents-inner {
        margin-top: 10px;
      }


.spf-has-filter #gf-products {
  display: grid !important;
    padding-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !IMPORTANT;
}
      .product-list-item:hover .product_button ,
.product-list-item .product_button:hover {
  opacity:1;
  z-index:99;
} 
      #gf-products .product-list-item.has-quick-shop {
    margin-bottom: 5px;
}

      
      
    </style>
    <script>
    window.addEventListener('globoFilterRenderCompleted', function (e) {
      try {
        FlairApp.refreshProductBadges();
      } catch(e) { console.log("[Flair] Error refreshing badges", e); }
    });
  </script>

<!-- Script from Smart Product Filter & Search to fix layout error -->
{%- capture productTemplate -%}{% render 'globo.filter.product', themeTranslation: shop.metafields.globoFilter.themeTranslation.value[request.locale.iso_code] %}{%- endcapture -%}{%- unless productTemplate contains 'Liquid error' -%}<script id="gspfProduct" type="template/html">{{- productTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%} 
{%- capture treeTemplate -%}{% render 'globo.filter.tree' %}{%- endcapture -%}{%- unless treeTemplate contains 'Liquid error' -%}<script id="gspfFilterTree" type="template/html">{{- treeTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%} 
{%- capture sortTemplate -%}{% render 'globo.filter.sort' %}{%- endcapture -%}{%- unless sortTemplate contains 'Liquid error' -%}<script id="gspfFilterSort" type="template/html">{{- sortTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%} 
{%- capture searchTemplate -%}{% render 'globo.filter.search' %}{%- endcapture -%}{%- unless searchTemplate contains 'Liquid error' -%}<script id="gspfSearchResult" type="template/html">{{- searchTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%} 
{%- capture paginationTemplate -%}{% render 'globo.filter.pagination' %}{%- endcapture -%}{%- unless paginationTemplate contains 'Liquid error' -%}<script id="gspfPagination" type="template/html">{{- paginationTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%} 
{%- capture YMMTemplate -%}{% render 'globo.filter.form' %}{%- endcapture -%}{%- unless YMMTemplate contains 'Liquid error' -%}<script id="gspfForm" type="template/html">{{- YMMTemplate | replace: "script>", "scripttag>" -}}</script>{%- endunless -%}

  </body>

</html>