<!-- sections/collection-slider.liquid -->
{% comment %} 
  Slider of cards showcasing different collections.

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Move arrow placement to avoid content overlap.

  Pro tips:
    - Use this section to highlight different product categories.
{% endcomment %}

<section class="
  {{ section.settings.visibility }}
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div class="!px-0 
      {{ settings.layout_horizontal }}"
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;" >
    
    {% render 'component__section-header',
      container_class: 'px-4' %} 

    {% if section.settings.promo_enable %}
      {% assign slider_size = section.blocks.size %}
    {% else %}
      {% assign slider_size = section.blocks.size | minus: 1 %}
    {% endif %}
    
    

    {%- capture slides -%}

      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'collection' -%}
            <div class="md:snap-center md:w-[26%] flex justify-center flex-none w-8/12 whitespace-normal" 
              x-bind:data-slide="{{ forloop.index0 }}">
              {% render 'component__collection-item', 
                collection: block.settings.collection %}
            </div>
          {%- when 'card' -%}
            <div class="md:snap-center md:w-[26%] flex justify-center flex-none w-8/12 whitespace-normal" 
              x-bind:data-slide="{{ forloop.index0 }}">
              {% render 'component__content-item',
                background_color: settings.thumbmails_color_scheme,
                title: block.settings.heading,
                content: block.settings.content,
                button_label: block.settings.button_label,
                url: block.settings.button_url %}
            </div>
        {%- endcase -%}
      {% endfor %}
    {%- endcapture -%}
    
    {% render 'component__slider',
      container_class: 'px-4',
      slider_size: slider_size,
      slides: slides %} 

    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.collection_slider.name",
  "settings":[
    {
      "type":"header",
      "content":"t:sections.all.headers.header__4.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:sections.all.content.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:sections.all.content.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:sections.all.content.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:sections.all.content.settings.button_url.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.header__22.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:sections.all.layout.settings.spacing.label_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:sections.all.layout.settings.spacing.label_bottom",
      "default": 100
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__1.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:sections.all.colors.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:sections.all.colors.settings.color_scheme.options__8.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:sections.all.colors.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:sections.all.colors.settings.color_border.options__1.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:sections.all.colors.settings.color_border.options__2.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:sections.all.colors.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:sections.all.colors.settings.color_button.options__1.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:sections.all.colors.settings.color_button.options__2.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:sections.all.colors.settings.color_button.options__5.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:sections.all.colors.settings.color_button.options__3.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:sections.all.colors.settings.color_button.options__4.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__2.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:sections.all.styles.settings.style_border.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.styles.settings.style_border.options__1.label"
        },
        {
          "value":"border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__2.label"
        },
        {
          "value":"border--b-width",
          "label":"t:sections.all.styles.settings.style_border.options__3.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__4.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__3.content"
   },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:sections.all.layout.settings.layout_x_alignment.label",
      "options": [
        {
          "value": "justify-between",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__1.label"
        },
        {
          "value": "text-center justify-center flex-col items-center",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__2.label"
        },
        {
          "value": "text-right justify-end flex-col items-end",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__3.label"
        }
      ],
      "default": "justify-between"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__8.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:sections.all.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.visibility.options__1.label"
        },
        {
          "value":"md:hidden",
          "label":"t:sections.all.visibility.options__2.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:sections.all.visibility.options__3.label"
        }
      ],
      "default":""
    },
    {
      "type":"checkbox",
      "id":"enable_collection_size_count",
      "label":"t:sections.collection_slider.settings.enable_collection_size_count.label",
      "default":true
    }
  ],
  "blocks":[
    {
      "type":"collection",
      "name":"t:sections.collection_slider.blocks.collection.name",
      "limit":20,
      "settings":[
        {
          "type":"collection",
          "id":"collection",
          "label":"t:sections.collection_slider.blocks.collection.settings.collection.label"
        }
      ]
    },
    {
      "type":"card",
      "name":"t:sections.collection_slider.blocks.card.name",
      "limit":1,
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"t:sections.collection_slider.blocks.card.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es": "Encabezado de bloque",
            "it": "Intestazione del blocco",
            "de": "Blocküberschrift",
            "fr": "En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:sections.collection_slider.blocks.card.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es": "<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it": "<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de": "<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr": "<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:sections.collection_slider.blocks.card.settings.button_label.label",
          "default":{
            "en":"Button",
            "es": "Botón",
            "it": "Bottone",
            "de": "Knopf",
            "fr": "Bouton"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:sections.collection_slider.blocks.card.settings.button_url.label",
          "default":"/collections/all"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.collection_slider.name",
      "settings":{
        "color_scheme":"color__bg-body color__text",
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "heading":"Collection list slider",
        "content":"<p>Describe a product, make announcements, or welcome customers to your store.</p>",
        "button_label":"Button",
        "button_url":"/"
      },
      "blocks":[
        {
          "type":"collection",
          "settings":{
            "collection":"all"
          }
        },
        {
          "type":"collection",
          "settings":{
            "collection":"all"
          }
        },
        {
          "type":"collection",
          "settings":{
            "collection":"all"
          }
        },
        {
          "type":"collection",
          "settings":{
            "collection":"all"
          }
        },
        {
          "type":"card",
          "settings":{
            "heading":"Block heading",
            "content":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "button_label":"Button",
            "button_url":"/collections/all"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}