<!-- sections/collection__main.liquid -->
{% comment %} 
  Main contents of the collection template

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Add support for global setting to control grid gap.
    - Add setting so blocks can be set to width of two blocks.
    - Add new block to support SMS opt-in. 

  Pro tips:
    - Use blocks to showcase promotional content.
{% endcomment %}
<style>
  .hide-cart-grid #gf-products form{display:none!important}
</style>
<section id="js:top" 
  class="{{ section.settings.color_scheme }}"
  style="
    padding-bottom:{{ section.settings.spacing_bottom }}px;">

  <div class="{{ settings.layout_horizontal }}">

    {% render 'collection__sublinks' %}
    {% render 'collection__subtags' %}
    {% render 'collection__filter-bar' %}
    
    {% paginate collection.products by section.settings.products_per_page %}
      <section id="gf-products" 
        class="grid animation-500 pb-8 {%if settings.disabled_Addtocart %} hide-addTocart{%endif %}
          {{ section.settings.row_size_desktop }}
          {{ section.settings.row_size_mobile }}" 
        :class="{ 
          'opacity-25' : collection_loading }"
        style="
          column-gap: {{ settings.layout_gap_size }}px;
          row-gap: {{ settings.layout_gap_size | times: 1.5 }}px;
          padding-top:{{ section.settings.spacing_top }}px;">
        {% for product in collection.products %}

          {% assign gridIndex = forloop.index %}
          {% if paginate.current_page == 1 %}
            {% for block in section.blocks %}
              {%- case block.type -%}
                
                {%- when 'newsletter' -%}
                  {% if block.settings.index == gridIndex %}
                    {% render 'component__newsletter-item',
                      title: block.settings.heading,
                      content: block.settings.content,
                      button_label: block.settings.button_label,
                      disclaimer: block.settings.disclaimer,
                      success: block.settings.success, 
                      size_desktop: block.settings.column_size,
                      background_image: block.settings.image_background,
                      background_color: block.settings.background_color_scheme,
                      index: gridIndex %}
                  {% endif %}
                
                {%- when 'content' -%}
                  {% if block.settings.index == gridIndex %}
                    {% render 'component__content-item',
                      url: block.settings.url,
                      title: block.settings.heading,
                      content: block.settings.content,
                      button_label: block.settings.button_label, 
                      size_desktop: block.settings.column_size,
                      background_image: block.settings.image_background,
                      background_color: block.settings.background_color_scheme,
                      index: gridIndex %}
                  {% endif %}

              {%- endcase -%}
            {% endfor %}
          {% endif %}

          {% render 'component__product-item', product: product, source: 'col_main' %}
        {% endfor %}
      </section>

      {% if collection.all_products_count == 0 %}
        <section class="py-8 text-center">
          <span>{{ 'collections.general.no_matches' | t }}</span>
        </section>
      {% else %}
        {% render 'component__pagination', paginate: paginate %}
      {% endif %}

    {% endpaginate %}

  </div>
  <style>

.promo-sale {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #fdd7e9;
    color: #000;
    font-size: 14px;
}

    
  </style>
  
</section>

{% schema %}
{
  "name":"t:sections.collection_main.name",
  "settings":[
    {
      "type": "header",
      "content": "t:sections.all.headers.header__22.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_top",
      "default":40
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_bottom",
      "default":60
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__1.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:sections.all.colors.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:sections.all.colors.settings.color_scheme.options__8.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:sections.all.colors.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:sections.all.colors.settings.color_border.options__1.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:sections.all.colors.settings.color_border.options__2.label"
        },
        {
          "value":"!color__border-transparent",
          "label":"t:sections.all.colors.settings.color_border.options__3.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__3.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.layout.paragraph__1.content"
    },
    {
      "type":"select",
      "id":"row_size_desktop",
      "label":"t:sections.collection_main.settings.row_size_desktop.label",
      "options":[
        {
          "value":"md:grid-cols-2",
          "label":"2"
        },
        {
          "value":"md:grid-cols-3",
          "label":"3"
        },
        {
          "value":"md:grid-cols-4",
          "label":"4"
        },
        {
          "value":"md:grid-cols-5",
          "label":"5"
        },
        {
          "value":"md:grid-cols-6",
          "label":"6"
        }
      ],
      "default":"md:grid-cols-4"
    },
    {
      "type":"select",
      "id":"row_size_mobile",
      "label":"t:sections.collection_main.settings.row_size_mobile.label",
      "options":[
        {
          "value":"grid-cols-1",
          "label":"1"
        },
        {
          "value":"grid-cols-2",
          "label":"2"
        },
        {
          "value":"grid-cols-3",
          "label":"3"
        }
      ],
      "default":"grid-cols-2"
    },
    
    {
      "type":"checkbox",
      "id":"showAddtoCart",
      "label":"Show Add to cart button on mobile?",
      "default":true
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__8.content"
    },
    {
      "type":"checkbox",
      "id":"enable_sort",
      "label":"t:sections.collection_main.settings.enable_sort.label",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"enable_filter",
      "label":"t:sections.collection_main.settings.enable_filter.label",
      "default":true
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__5.content"
    },
    {
      "type":"number",
      "id":"products_per_page",
      "label":"t:sections.collection_main.settings.products_per_page.label",
      "default":12
    }
  ],
  "blocks":[
    {
      "type":"newsletter",
      "name":"t:sections.collection_main.blocks.newsletter.name",
      "limit":1,
      "settings":[
        {
          "type": "header",
          "content":"t:sections.all.headers.header__4.content"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:sections.collection_main.blocks.newsletter.settings.image_background.label"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:sections.collection_main.blocks.newsletter.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es": "Encabezado de bloque",
            "it": "Intestazione del blocco",
            "de": "Blocküberschrift",
            "fr": "En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:sections.collection_main.blocks.newsletter.settings.content.label",
          "default":{
            "en":"<p>Tell customers why they should subscribe to your newsletter.</p>",
            "es": "<p>Dígales a los clientes por qué deberían suscribirse a su boletín informativo.</p>",
            "it": "<p>Dì ai clienti perché dovrebbero iscriversi alla tua newsletter.</p>",
            "de": "<p>Teilen Sie Ihren Kunden mit, warum sie Ihren Newsletter abonnieren sollten.</p>",
            "fr": "<p>Expliquez aux clients pourquoi ils devraient s’abonner à votre newsletter.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:sections.collection_main.blocks.newsletter.settings.button_label.label",
          "default":{
            "en":"Subscribe",
            "es": "Subscribir",
            "it": "Abbonarsi",
            "de": "Abonnieren",
            "fr": "S’inscrire"
          }
        },
        {
          "type":"richtext",
          "id":"disclaimer",
          "label":"t:sections.collection_main.blocks.newsletter.settings.disclaimer.label"
        },
        {
          "type":"richtext",
          "id":"success",
          "label":"t:sections.collection_main.blocks.newsletter.settings.success.label",
          "default":{
            "en":"<p>Success! You’ve been subscribed.</p>",
            "es": "<p>Gracias por suscribirte</p>",
            "it": "<p>Grazie per esserti iscritto</p>",
            "de": "<p>Vielen Dank für Ihre Anmeldung</p>",
            "fr": "<p>Merci de vous être abonné</p>"
          }
        },
        {
          "type":"paragraph",
          "content":"t:sections.collection_main.paragraph__1.content"
        },
        {
          "type":"number",
          "id":"index",
          "label":"t:sections.collection_main.blocks.newsletter.settings.index.label",
          "default":6
        },
        {
          "type": "header",
          "content":"t:sections.all.headers.header__1.content"
        },
        {
          "type":"select",
          "id":"background_color_scheme",
          "label":"t:sections.all.colors.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type": "header",
          "content":"t:sections.all.headers.header__3.content"
        },
        {
          "type":"select",
          "id":"column_size",
          "label":"t:sections.collection_main.blocks.newsletter.settings.column_size.label",
          "info":"t:sections.collection_main.blocks.newsletter.settings.column_size.info",
          "options":[
            {
              "value":"col-span-1",
              "label":"1"
            },
            {
              "value":"col-span-2",
              "label":"2"
            },
            {
              "value":"col-span-3",
              "label":"3"
            },
            {
              "value":"col-span-4",
              "label":"4"
            }
          ],
          "default":"col-span-2"
        }
      ]
    },
    {
      "type":"content",
      "name":"t:sections.collection_main.blocks.content.name",
      "limit":1,
      "settings":[
        {
          "type": "header",
          "content":"t:sections.all.headers.header__4.content"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:sections.collection_main.blocks.newsletter.settings.image_background.label"
        },
        {
          "type":"url",
          "id":"url",
          "label":"t:sections.collection_main.blocks.content.settings.url.label"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:sections.collection_main.blocks.content.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es": "Encabezado de bloque",
            "it": "Intestazione del blocco",
            "de": "Blocküberschrift",
            "fr": "En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:sections.collection_main.blocks.content.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es": "<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it": "<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de": "<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr": "<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:sections.collection_main.blocks.content.settings.button_label.label",
          "default":{
            "en":"Button",
            "es": "Botón",
            "it": "Bottone",
            "de": "Knopf",
            "fr": "Bouton"
          }
        },
        {
          "type":"paragraph",
          "content":"t:sections.collection_main.paragraph__1.content"
        },
        {
          "type":"number",
          "id":"index",
          "label":"t:sections.collection_main.blocks.content.settings.index.label",
          "default":2
        },
        {
          "type": "header",
          "content":"t:sections.all.headers.header__1.content"
        },
        {
          "type":"select",
          "id":"background_color_scheme",
          "label":"t:sections.all.colors.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type": "header",
          "content":"t:sections.all.headers.header__3.content"
        },
        {
          "type":"select",
          "id":"column_size",
          "label":"t:sections.collection_main.blocks.newsletter.settings.column_size.label",
          "info":"t:sections.collection_main.blocks.newsletter.settings.column_size.info",
          "options":[
            {
              "value":"col-span-1",
              "label":"1"
            },
            {
              "value":"col-span-2",
              "label":"2"
            },
            {
              "value":"col-span-3",
              "label":"3"
            },
            {
              "value":"col-span-4",
              "label":"4"
            }
          ],
          "default":"col-span-2"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.collection_main.name"
    }
  ],
  "templates":[
    "collection"
  ]
}
{% endschema %}