<!-- sections/content-slider.liquid -->
{% comment %} 
  Slider of content cards. 

  Globals:
    - settings.layout_horizontal: horizontaly margin
    - settings.thumbnails_color_border: set border of cards
  
  Possible enhancements:
    - Update and use component__card for blocks here.

  Pro tips:
    - Can be used to show a variety of different content.
{% endcomment %}

<section class="
  {{ section.settings.visibility }}
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div class="!px-0
      {{ settings.layout_horizontal }}" 
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;">

    {% render 'component__section-header',
      container_class: 'px-4' %} 
    {% assign slider_size = section.blocks.size | minus: 1 %}

    {%- capture slides -%}
      {% for block in section.blocks %}
        <div class="md:snap-center flex justify-center flex-none 
          {% if block.settings.layout_desktop_width == 12 %}
            md:w-full
          {% else %}
            md:w-{{ block.settings.layout_desktop_width }}/12
          {% endif %}
          {% if block.settings.layout_mobile_width == 12 %}
            w-full
          {% else %}
            w-{{ block.settings.layout_mobile_width }}/12
          {% endif %}"
          x-bind:data-slide="{{ forloop.index0 }}">
          
            <div

            class="animation-300 shadow-none flex flex-row flex-wrap w-full border--radius overflow-hidden relative group
            border--width no-underline hover:opacity-75 hover:no-underline whitespace-normal
              {{ block.settings.color_scheme }} 
              {{ block.settings.color_border }}
              {{ block.settings.color_text }}
              {{ block.settings.layout_x_alignment }}
              {{ block.settings.layout_y_alignment }}"
            style="
              padding-top:{{ block.settings.spacing_top }}px;
              padding-bottom:{{ block.settings.spacing_bottom }}px;
              {% if block.settings.enable_gradient %}
                background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) );
              {% endif %}">

            {%- unless block.settings.image_background == blank -%}
              {{ block.settings.image_background | image_url: width: 1400 | image_tag: class: 'w-full top-0 h-full absolute object-cover', loading: 'lazy' }}
            {%- endunless -%}

            {%- unless block.settings.video_background == blank %}
              <div class="relative w-full overflow-hidden" 
                style="aspect-ratio:{{ block.settings.video_background.aspect_ratio }};"
                x-data="{
                  video_muted: true,
                  video_playing: {% if block.settings.enable_autoplay %} true {% else %} false {% endif %}
                }">
                <video 
                  class="border--radius"
                  style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px; object-fit:cover;"
                  x-ref="video" 
                  muted
                  {% if block.settings.enable_autoplay %} autoplay {% endif %}
                  {% if block.settings.enable_loop %} loop {% endif %}
                  {% if block.settings.image_background %}
                    poster="
                    {% if section.settings.image_background == blank %}
                      {{ block.settings.video_background.preview_image | image_url: width: 1200 }}
                    {% else %}
                      {{ section.settings.image_background | image_url: width: 1200 }}
                    {% endif %}"
                  {% endif %}>
                  {% for source in block.settings.video_background.sources %}
                    <source src="{{ source.url }}" type="{{ source.mime_type }}">
                  {% endfor %}
                </video>
                <div class=" relative z-10 flex w-full h-full">
                  <button x-ref="pauseBtn" 
                    class="btn btn--secondary btn--smaller bottom-4 left-4 absolute z-10 flex items-center justify-center w-full overflow-hidden"
                    x-show="video_playing"
                    x-cloak
                    @click='
                      $refs.video.pause();
                      video_playing = false;'>
                    {% render 'component__icon', icon: 'pause', size: '16' %}
                  </button> 
                  <button x-ref="playBtn" 
                    class="btn btn--secondary btn--smaller bottom-4 left-4 absolute z-10 flex items-center justify-center w-full overflow-hidden"
                    x-show="!video_playing"
                    x-cloak
                    @click='
                      $refs.video.play();
                      video_playing = true;'>
                    {% render 'component__icon', icon: 'play', size: '16' %}
                  </button> 
                  {% if block.settings.enable_mute_toggle %}
                    <button class="btn btn--secondary btn--smaller bottom-4 right-4 absolute z-10 flex items-center justify-center w-full overflow-hidden"
                      x-ref="muteBtn" 
                      x-show="!video_muted"
                      x-cloak
                      @click='
                        $refs.video.muted = true;
                        video_muted = true;'>
                      {% render 'component__icon', icon: 'volume', size: '16' %}
                    </button> 
                    <button class="btn btn--secondary btn--smaller bottom-4 right-4 absolute z-10 flex items-center justify-center w-full overflow-hidden"
                      x-ref="unmuteBtn" 
                      x-show="video_muted"
                      x-cloak
                      @click='
                        $refs.video.muted = false;
                        video_muted = false;'>
                      {% render 'component__icon', icon: 'volume-x', size: '16' %}
                    </button> 
                  {% endif %}
                </div>
                
               
              </div>
            {%- endunless -%}  
            
            {%- unless block.settings.image_featured == blank -%}
              <div class="relative w-full">
                {{ block.settings.image_featured | image_url: width: 1400 | image_tag: class: 'w-full', loading: 'lazy', alt: block.settings.image_featured.alt }}
              </div>
            {%- endunless -%}
            
            {% unless block.settings.heading == blank and block.settings.content == blank and block.settings.button_url == blank %}
              <div class="z-[1] w-full pt-4
                {% if block.settings.enable_padding %}p-4{% endif %}">
                <div class="max-w-prose">
  
                  {%- unless block.settings.heading == blank -%}
                    <h3 class="mb-2">{{ block.settings.heading }}</h3>
                  {%- endunless -%}
  
                  {%- unless block.settings.content == blank -%}
                    <div class="m-0--clear mb-2">
                      {{ block.settings.content }}
                    </div>
                  {%- endunless -%}
  
                  {%- unless block.settings.button_label == blank -%}
                    <a href="{{ block.settings.button_url }}"
                      class="group-hover:border__button--focus {{ block.settings.color_button }}">
                      {{ block.settings.button_label }}
                    </a>
                  {%- endunless -%}
                  
                </div>
              </div>
            {% endunless %}
            </div>
          
        </div>
      {% endfor %}
    {%- endcapture -%}
    
    {% render 'component__slider',
      container_class: 'px-4',
      slider_size: slider_size,
      slides: slides %} 
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.content_slider.name",
  "settings":[
    {
      "type":"header",
      "content":"t:sections.all.headers.header__4.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:sections.all.content.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:sections.all.content.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:sections.all.content.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:sections.all.content.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__22.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_top",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_bottom",
      "default":100
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__1.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:sections.all.colors.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:sections.all.colors.settings.color_scheme.options__8.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:sections.all.colors.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:sections.all.colors.settings.color_border.options__1.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:sections.all.colors.settings.color_border.options__2.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:sections.all.colors.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:sections.all.colors.settings.color_button.options__1.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:sections.all.colors.settings.color_button.options__2.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:sections.all.colors.settings.color_button.options__5.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:sections.all.colors.settings.color_button.options__3.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:sections.all.colors.settings.color_button.options__4.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__2.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:sections.all.styles.settings.style_border.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.styles.settings.style_border.options__1.label"
        },
        {
          "value":"border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__2.label"
        },
        {
          "value":"border--b-width",
          "label":"t:sections.all.styles.settings.style_border.options__3.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__4.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__3.content"
    },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:sections.all.layout.settings.layout_x_alignment.label",
      "options": [
        {
          "value": "justify-between",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__1.label"
        },
        {
          "value": "text-center justify-center flex-col items-center",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__2.label"
        },
        {
          "value": "text-right justify-end flex-col items-end",
          "label": "t:sections.all.layout.settings.layout_x_alignment.options__3.label"
        }
      ],
      "default": "justify-between"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__8.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:sections.all.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.visibility.options__1.label"
        },
        {
          "value":"md:hidden",
          "label":"t:sections.all.visibility.options__2.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:sections.all.visibility.options__3.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"content",
      "name":"t:sections.content_slider.blocks.content.name",
      "limit":20,
      "settings":[
        {
          "type":"header",
          "content":"t:sections.all.headers.header__4.content"
        },
        {
          "type":"text",
          "id":"heading",
          "label":"t:sections.all.content.settings.heading.label",
          "default":{
            "en":"Block heading",
            "es":"Encabezado de bloque",
            "it":"Intestazione del blocco",
            "de":"Blocküberschrift",
            "fr":"En-tête de bloc"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:sections.all.content.settings.content.label",
          "default":{
            "en":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
            "es":"<p>Describa un producto, haga anuncios o informe a los clientes sobre una promoción.</p>",
            "it":"<p>Descrivi un prodotto, fai annunci o informa i clienti su una promozione.</p>",
            "de":"<p>Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder informieren Sie Kunden über eine Werbeaktion.</p>",
            "fr":"<p>Décrivez un produit, faites des annonces ou informez les clients d’une promotion.</p>"
          }
        },
        {
          "type":"image_picker",
          "id":"image_featured",
          "label":"t:sections.content_slider.blocks.content.settings.image_featured.label"
        },
        {
          "type":"image_picker",
          "id":"image_background",
          "label":"t:sections.content_slider.blocks.content.settings.image_background.label"
        },
        {
          "type":"video",
          "id":"video_background",
          "label":"t:sections.video.settings.video_background.label"
        },
        {
          "type":"checkbox",
          "id":"enable_autoplay",
          "label":"t:sections.content_grid.blocks.content.settings.enable_autoplay.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_mute_toggle",
          "label":"t:sections.content_grid.blocks.content.settings.enable_mute_toggle.label",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"enable_loop",
          "label":"t:sections.content_grid.blocks.content.settings.enable_loop.label",
          "default":true
        },
        {
          "type":"text",
          "id":"button_label",
          "label":"t:sections.all.content.settings.button_label.label",
          "default":{
            "en":"Button",
            "es":"Botón",
            "it":"Bottone",
            "de":"Knopf",
            "fr":"Bouton"
          }
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"t:sections.all.content.settings.button_url.label",
          "default":"/collections/all"
        },
        {
          "type":"header",
          "content":"t:sections.all.headers.header__22.content"
        },
        {
          "type":"range",
          "id":"spacing_top",
          "min":0,
          "max":300,
          "step":20,
          "unit":"px",
          "label":"t:sections.all.layout.settings.spacing.label_top",
          "default":80
        },
        {
          "type":"range",
          "id":"spacing_bottom",
          "min":0,
          "max":300,
          "step":20,
          "unit":"px",
          "label":"t:sections.all.layout.settings.spacing.label_bottom",
          "default":0
        },
        {
          "type":"checkbox",
          "id":"enable_padding",
          "label":"t:sections.content_slider.blocks.content.settings.enable_padding.label",
          "default":true
        },
        {
          "type":"header",
          "content":"t:sections.all.headers.header__1.content"
        },
        {
          "type":"select",
          "id":"color_scheme",
          "label":"t:sections.all.colors.settings.color_scheme.label",
          "options":[
            {
              "value":"color__bg-body color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
            },
            {
              "value":"color__bg-neutral color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
            },
            {
              "value":"color__bg-overlay-1 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
            },
            {
              "value":"color__bg-overlay-2 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
            },
            {
              "value":"color__bg-overlay-3 color__text",
              "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
            },
            {
              "value":"color__bg-primary color__primary",
              "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
            },
            {
              "value":"color__bg-secondary color__secondary",
              "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
            }
          ],
          "default":"color__bg-body color__text"
        },
        {
          "type":"select",
          "id":"color_border",
          "label":"t:sections.all.colors.settings.color_border.label",
          "options":[
            {
              "value":"color__border-divider-1",
              "label":"t:sections.all.colors.settings.color_border.options__1.label"
            },
            {
              "value":"color__border-selected-1",
              "label":"t:sections.all.colors.settings.color_border.options__2.label"
            },
            {
              "value":"!color__border-transparent",
              "label":"t:sections.all.colors.settings.color_border.options__3.label"
            }
          ],
          "default":"color__border-divider-1"
        },
        {
          "type":"select",
          "id":"color_text",
          "label":"t:sections.all.colors.settings.color_text.label",
          "options":[
            {
              "value":"color__text",
              "label":"t:sections.all.colors.settings.color_text.options__1.label"
            },
            {
              "value":"color__light",
              "label":"t:sections.all.colors.settings.color_text.options__2.label"
            },
            {
              "value":"color__dark",
              "label":"t:sections.all.colors.settings.color_text.options__3.label"
            }
          ],
          "default":"color__text"
        },
        {
          "type":"select",
          "id":"color_button",
          "label":"t:sections.all.colors.settings.color_button.label",
          "options":[
            {
              "value":"btn",
              "label":"t:sections.all.colors.settings.color_button.options__1.label"
            },
            {
              "value":"btn btn--secondary",
              "label":"t:sections.all.colors.settings.color_button.options__2.label"
            },
            {
              "value":"btn btn--tertiary",
              "label":"t:sections.all.colors.settings.color_button.options__5.label"
            },
            {
              "value":"btn btn--neutral",
              "label":"t:sections.all.colors.settings.color_button.options__3.label"
            },
            {
              "value":"btn btn--plain",
              "label":"t:sections.all.colors.settings.color_button.options__4.label"
            }
          ],
          "default":"btn btn--secondary"
        },
        {
          "type":"checkbox",
          "id":"enable_gradient",
          "label":"t:sections.content_slider.blocks.content.settings.enable_gradient.label",
          "default":false
        },
        {
          "type":"header",
          "content":"t:sections.all.headers.header__3.content"
        },
        {
          "type":"select",
          "id":"layout_y_alignment",
          "label":"t:sections.all.layout.settings.layout_y_alignment.label",
          "options":[
            {
              "value":"items-start content-start",
              "label":"t:sections.all.layout.settings.layout_y_alignment.options__1.label"
            },
            {
              "value":"items-center content-center",
              "label":"t:sections.all.layout.settings.layout_y_alignment.options__2.label"
            },
            {
              "value":"items-end content-end",
              "label":"t:sections.all.layout.settings.layout_y_alignment.options__3.label"
            }
          ],
          "default":"items-end content-end"
        },
        {
          "type": "select",
          "id": "layout_x_alignment",
          "label": "t:sections.all.layout.settings.layout_x_alignment.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.all.layout.settings.layout_x_alignment.options__1.label"
            },
            {
              "value": "text-center justify-center",
              "label": "t:sections.all.layout.settings.layout_x_alignment.options__2.label"
            },
            {
              "value": "text-right justify-end",
              "label": "t:sections.all.layout.settings.layout_x_alignment.options__3.label"
            }
          ],
          "default": ""
        },
        {
          "type":"range",
          "id":"layout_desktop_width",
          "min":1,
          "max":12,
          "step":1,
          "unit":"/12",
          "label":"t:sections.content_slider.blocks.content.settings.layout_desktop_width.label",
          "default":6
        },
        {
          "type":"range",
          "id":"layout_mobile_width",
          "min":1,
          "max":12,
          "step":1,
          "unit":"/12",
          "label":"t:sections.content_slider.blocks.content.settings.layout_mobile_width.label",
          "default":10
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.content_slider.name",
      "settings": {
        "heading": "Block heading",
        "content": "<p>Describe a product, make announcements, or welcome customers to your store.<\/p>",
        "button_label": "Button label",
        "button_url": "\/",
        "spacing_top": 100,
        "spacing_bottom": 100,
        "color_scheme": "color__bg-body color__text",
        "color_border": "color__border-divider-1",
        "color_button": "btn btn--secondary",
        "style_border": "border--b-width",
        "layout_x_alignment": "justify-between",
        "visibility": ""
      },
      "blocks": [
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or welcome customers to your store.<\/p>",
            "button_label": "Button",
            "button_url": "\/",
            "spacing_top": 80,
            "spacing_bottom": 0,
            "enable_padding": true,
            "color_scheme": "color__bg-body color__text",
            "color_border": "color__border-divider-1",
            "color_text": "color__text",
            "color_button": "btn",
            "enable_gradient": false,
            "layout_y_alignment": "items-end",
            "layout_x_alignment": "",
            "layout_desktop_width": 5,
            "layout_mobile_width": 8
          }
        },
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or inform customers about a promotion.<\/p>",
            "button_label": "Button",
            "button_url": "shopify:\/\/collections\/all",
            "spacing_top": 80,
            "spacing_bottom": 0,
            "enable_padding": true,
            "color_scheme": "color__bg-overlay-1 color__text",
            "color_border": "color__border-divider-1",
            "color_text": "color__text",
            "color_button": "btn btn--neutral",
            "enable_gradient": false,
            "layout_y_alignment": "items-end",
            "layout_x_alignment": "",
            "layout_desktop_width": 5,
            "layout_mobile_width": 8
          }
        },
        {
          "type": "content",
          "settings": {
            "heading": "Block heading",
            "content": "<p>Describe a product, make announcements, or welcome customers to your store.<\/p>",
            "button_label": "Button",
            "button_url": "\/",
            "spacing_top": 80,
            "spacing_bottom": 0,
            "enable_padding": true,
            "color_scheme": "color__bg-secondary color__secondary",
            "color_border": "color__border-divider-1",
            "color_text": "color__light",
            "color_button": "btn btn--plain",
            "enable_gradient": false,
            "layout_y_alignment": "items-end",
            "layout_x_alignment": "",
            "layout_desktop_width": 5,
            "layout_mobile_width": 8
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}