<!-- sections/product-featured.liquid -->
{% comment %} 
  Grid of highlighted products with multiple images.

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Pro tips:
    - Ensure products in this section have at least 4 product photos.
{% endcomment %}

<section class="
  {{ section.settings.visibility }}
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div class="
    {{ settings.layout_horizontal }}"
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;">

    {% render 'component__section-header' %} 
    <div class="grid
      {{ section.settings.row_size_desktop }}
      {{ section.settings.row_size_mobile }}"
      style="
        column-gap: {{ settings.layout_gap_size }}px;
        row-gap: {{ settings.layout_gap_size | times: 1.5 }}px;">

      {% for product in collections[section.settings.collection].products limit: section.settings.products_count %}
        {% assign animate_index = forloop.index %}
        {% render 'component__product-featured-item', 
          product: product,
          animate_index: animate_index %}
      {% endfor %}

    </div>

  </div>

</section>

{% schema %}
{
  "name":"t:sections.product_featured.name",
  "settings":[
    {
      "type":"header",
      "content":"t:sections.all.headers.header__11.content"
    },
    {
      "type":"collection",
      "id":"collection",
      "label":"t:sections.product_featured.settings.collection.label"
    },
    {
      "type":"number",
      "id":"products_count",
      "label":"t:sections.product_featured.settings.products_count.label",
      "default":3
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__4.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:sections.all.content.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:sections.all.content.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:sections.all.content.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:sections.all.content.settings.button_url.label"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__22.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_top",
      "default":100
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:sections.all.layout.settings.spacing.label_bottom",
      "default":100
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__1.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:sections.all.colors.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__1.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__2.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__3.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__4.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:sections.all.colors.settings.color_scheme.options__5.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:sections.all.colors.settings.color_scheme.options__6.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:sections.all.colors.settings.color_scheme.options__7.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:sections.all.colors.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:sections.all.colors.settings.color_border.options__1.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:sections.all.colors.settings.color_border.options__2.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:sections.all.colors.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:sections.all.colors.settings.color_button.options__1.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:sections.all.colors.settings.color_button.options__2.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:sections.all.colors.settings.color_button.options__3.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:sections.all.colors.settings.color_button.options__4.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__2.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:sections.all.styles.settings.style_border.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.styles.settings.style_border.options__1.label"
        },
        {
          "value":"border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__2.label"
        },
        {
          "value":"border--b-width",
          "label":"t:sections.all.styles.settings.style_border.options__3.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:sections.all.styles.settings.style_border.options__4.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__3.content"
    },
    {
      "type":"paragraph",
      "content":"t:sections.all.layout.paragraph__1.content"
    },
    {
      "type":"select",
      "id":"row_size_desktop",
      "label":"t:sections.product_featured.settings.row_size_desktop.label",
      "options":[
        {
          "value":"md:grid-cols-2",
          "label":"2"
        },
        {
          "value":"md:grid-cols-3",
          "label":"3"
        },
        {
          "value":"md:grid-cols-4",
          "label":"4"
        }
      ],
      "default":"md:grid-cols-3"
    },
    {
      "type":"select",
      "id":"row_size_mobile",
      "label":"t:sections.product_featured.settings.row_size_mobile.label",
      "options":[
        {
          "value":"grid grid-cols-1",
          "label":"1"
        },
        {
          "value":"grid grid-cols-2",
          "label":"2"
        }
      ],
      "default":"grid grid-cols-1"
    },
    {
      "type":"select",
      "id":"layout_x_alignment",
      "label":"t:sections.all.layout.settings.layout_x_alignment.label",
      "options":[
        {
          "value":"justify-between",
          "label":"t:sections.all.layout.settings.layout_x_alignment.options__1.label"
        },
        {
          "value":"text-center justify-center flex-col items-center",
          "label":"t:sections.all.layout.settings.layout_x_alignment.options__2.label"
        },
        {
          "value":"text-right justify-end flex-col items-end",
          "label":"t:sections.all.layout.settings.layout_x_alignment.options__3.label"
        }
      ],
      "default":"justify-between"
    },
    {
      "type":"header",
      "content":"t:sections.all.headers.header__8.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:sections.all.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:sections.all.visibility.options__1.label"
        },
        {
          "value":"md:hidden",
          "label":"t:sections.all.visibility.options__2.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:sections.all.visibility.options__3.label"
        }
      ],
      "default":""
    }
  ],
  "presets":[
    {
      "name":"t:sections.product_featured.name",
      "settings":{
        "color_scheme":"color__bg-body color__text",
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "heading":"Featured products",
        "content":"<p>Describe a product, make announcements, or welcome customers to your store.</p>",
        "button_label":"Button",
        "button_url":"/collections/all",
        "collection":"frontpage",
        "products_count":3
      }
    }
  ],
  "disabled_on":{
    "groups":[
      "custom.overlay"
    ]
  }
}
{% endschema %}